<!DOCTYPE html>
<!--/*
  비밀번호 변경 (최초 로그인).
  출처: legacy/ERFlow/src/main/webapp/login/changePassword.jsp

  레거시는 비밀번호가 사번과 같으면 여기로 보냈고, 그때까지 로그인시키지 않았다.
  같은 뜻으로 이 화면은 ROLE_PASSWORD_CHANGE 권한만 있는 상태에서만 열린다.
*/-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: page('ERFlow Change Password', ${ {'/js/login/loginSub.js'} })}">
</head>
<body>
<img class="wave" th:src="@{/images/login/backImage.png}">
<div class="page-box">
    <div class="img">
        <img th:src="@{/images/common/logo.png}">
    </div>
    <div class="login-content">
        <form th:action="@{/login/change-password}" method="post">
            <h2 class="title">Change Password</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5 class="h5-input">Password</h5>
                    <input type="password" class="input" name="password">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5 class="h5-input">Confirm Password</h5>
                    <input type="password" class="input" name="rePassword">
                </div>
            </div>
            <input type="submit" class="btn" value="send">
        </form>
    </div>
</div>
</body>
</html>
